---
title: Administrar Evaluadores
role_index: 0
home_link: '/admin'

domain_singular: Evaluador
domain_plural: Evaluadores
domain_url: assessor
---
<%= partial 'partials/page_heading' %>
<%= partial 'partials/page_search_head', :locals => { :create_button => true } %>

<table class="table table-hover">
  <tbody>
    <% data.schools.assessors.each_with_index do |assessor, index| %>
      <tr>
        <td class="project-title">
          <%= assessor.fullname %>
        </td>
        <%= partial 'partials/page_search_actions', :locals => { :index => index, :edit_button => true, :delete_button => true } %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= partial 'partials/pager' %>
<%= partial 'partials/page_search_foot' %>
