<%= partial 'partials/head' %>
<div class="wrapper">
    <%= partial 'partials/sidebar' %>
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <%= partial 'partials/header' %>
        <%= yield %>
    </div>
    <!-- <%= partial 'partials/footer' %> -->
    <%= partial 'partials/foot' %>
</div>
