<% current_page.data.form.each do |form_element| %>
  <div class="form-group">
    <label><%= form_element.label %>
      <% if !form_element.optional && form_element.type != 'output' %><span class="text-danger"><strong> *</strong></span><% end %>
    </label>

    <% if form_element.type == 'text' %>
      <input type="text" placeholder="<%= form_element.placeholder %>" class="form-control" value="<%= form_element.default_value %>">

    <% elsif form_element.type == 'email' %>
      <input type="email" placeholder="<%= form_element.placeholder %>" class="form-control" value="<%= form_element.default_value %>">

    <% elsif form_element.type == 'select' %>
      <select class="form-control m-b" name="<%= form_element.id %>">
        <% form_element.options.each do |option| %>
          <option value="<%= option.key_value %>"><%= option.value %></option>
        <% end %>
      </select>

    <% elsif form_element.type == 'output' %>
      <p class="form-control-static"><%= form_element.default_value %></p>

    <% elsif form_element.type == 'optionbox' %>
      <% form_element.options.each do |option| %>
        <div class="i-checks">
          <label>
            <input type="radio" value="<%= option.key_value %>" name="<%= form_element.id %>" <% if option.key_value == form_element.default_value %> checked<% end %>>
            <i></i> <%= option.value %>
          </label>
        </div>
      <% end %>

    <% elsif form_element.type == 'chosen_select' %>
      <div class="input-group">
        <select data-placeholder="<%= form_element.placeholder %>" class="chosen-select" style="width:350px;" tabindex="2">
          <option value=""><% data.i18n.domain_form_select_default %></option>
          <% form_element.options.each do |option| %>
            <option value="<%= option.key_value %>" <% if option.key_value == form_element.default_value %> selected<% end %>>
              <%= option.value %>
            </option>
          <% end %>
        </select>
      </div>

    <% elsif form_element.type == 'chosen_multi_select' %>
      <div class="form-group">
        <div class="input-group">
          <select data-placeholder="<%= form_element.placeholder %>" class="chosen-select" multiple style="width:700px;" tabindex="4">
            <option value=""><% data.i18n.domain_form_select_default %></option>
            <% form_element.options.each do |option| %>
              <option value="<%= option.key_value %>" <% if option.key_value == form_element.default_value %> selected<% end %>>
                <%= option.value %>
              </option>
            <% end %>
          </select>
        </div>
      </div>

    <% elsif form_element.type == 'file_upload' %>
      <div class="input-group">
        <small><%= data.i18n.domain_form_file_types %>: <b><%= form_element.file_types %></b></small><br/>
        <small><%= data.i18n.domain_form_file_max_size %>: <b><%= form_element.file_max_size %></b></small><br/><br/>
        <div class="img-preview img-preview-sm">
          <%= image_tag "/images/default-user.jpeg", resize_to: "120x" %>
        </div>
        <div class="btn-group">
          <label title="Upload image file" for="inputImage" class="btn btn-white">
            <input type="file" accept="image/*" name="file" id="inputImage" class="hide">
            <i class="fa fa-upload" aria-hidden="true"></i> <%= data.i18n.domain_form_choose_file %>
          </label>
        </div>
      </div>

    <% end %>

    <% if form_element.help %>
      <span class="help-block m-b-none"><%= form_element.help %></span>
    <% end %>
  </div>
<% end %>
