<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row m-b-lg m-t-lg">
    <div class="col-md-6">
      <div class="profile-image">
        <%= image_tag current_page.data.profile.picture, resize_to: "96x96", :class => 'img-circle circle-border m-b-md', :alt => current_page.data.profile.name %>
      </div>
      <div class="profile-info">
        <div class="">
          <div>
            <h3><%= current_page.data.profile.school %> (<%= current_page.data.profile.school_level %>)</h3>
            <h2 class="no-margins"><%= current_page.data.profile.name %></h2>
            <!-- <h4><%= current_page.data.profile.role %></h4> -->
            <h5><%= current_page.data.profile.email %></h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5><%= current_page.data.title %></h5>
        </div>
        <div class="ibox-content">
          <small>Pregunta <%= current_page.data.quiz.questions[0].number %> de <%= current_page.data.quiz.total %></small>
          <% current_page.data.quiz.questions.each do |question| %>
            <h4><%= question.title %></h4>
            <small><strong>Elige una opción</strong></small>
            <table class="table">
              <tbody>
                <% question.options.each do |option| %>
                  <tr>
                    <td>
                      <input type="radio" value="<%= option.key_value %>" name="<%= question.id %>" <% if option.key_value == question.default_value %> checked<% end %>>
                    </td>
                    <td>
                      <i></i> <%= option.value %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% end %>
          <% if current_page.data.quiz.prev_question %>
            <% link_to current_page.data.quiz.prev_question, :class => 'btn btn-default' do %>
              <i class="fa fa-step-backward" aria-hidden="true"></i> Anterior
            <% end %>
          <% end %>
          <% if current_page.data.quiz.next_question %>
            <% link_to current_page.data.quiz.next_question, :class => 'btn btn-primary' do %>
              Siguiente <i class="fa fa-step-forward" aria-hidden="true"></i>
            <% end %>
          <% end %>
          <% if current_page.data.quiz.end_question %>
            <% link_to current_page.data.quiz.end_question, :class => 'btn btn-success' do %>
              Terminar <i class="fa fa-check" aria-hidden="true"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
